# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheels/
MANIFEST

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Pyenv
.python-version

# Pipenv / Poetry
Pipfile.lock
.poetry/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Django / Flask / general local files
db.sqlite3
db.sqlite3-journal
local_settings.py
instance/
.webassets-cache
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Type checkers / linters
.mypy_cache/
.pyre/
.pytype/
pylint-report.txt
pylint-global.txt

# Sphinx documentation
docs/_build/

# Logs and runtime files
*.log
*.pot
*.mo

# Environment files
.env*

*.lock
*.bin
data/*